<template>
  <div class="test">
    <p>Welcome to Vue - WebSocket Tutorial</p>
    <div>Status:</div>
    <div id="msg"></div>
  </div>
</template>

<script>
export default {
  name: "Ws",

  data() {
    return {
      websock: null
    };
  },

  created() {
    this.initWebSocket();
  },

  destroyed() {
    this.websock.close(); //离开路由之后断开websocket连接
  },

  methods: {
    initWebSocket() {
      //初始化weosocket
      const wsuri = "ws://127.0.0.1:8765";
      this.ws = new WebSocket(wsuri);
      this.ws.onmessage = this.onMessage;
      this.ws.onopen = this.onOpen;
      this.ws.onerror = this.onError;
      this.ws.onclose = this.onClose;
    },

    onOpen() {
      var msg = document.getElementById("msg");
      msg.innerText = "Websocket Open ...";
      console.log("websocket Open ...");

      //连接建立之后执行send方法发送数据
      let actions = { test: "12345" };
      this.onSend(JSON.stringify(actions));
    },

    onSend(Data) {
      var msg = document.getElementById("msg");
      msg.innerText = "Websocket Send Data ...";
      console.log("Websocket Send Data ...");

      //数据发送
      this.ws.send(Data);
    },

    onMessage(e) {
      var msg = document.getElementById("msg");
      msg.innerText = "Websocket Recieve Data ...";
      console.log("Websocket Recieve Data ...");

      //数据接收
      //const redata = JSON.parse(e.data);
      const redata = e.data;
      console.log(redata);
    },

    onError() {
      var msg = document.getElementById("msg");
      msg.innerText = "Websocket Error ...";
      console.log("Websocket Error ...");

      //连接建立失败重连
      this.initWebSocket();
    },

    onClose(e) {
      var msg = document.getElementById("msg");
      msg.innerText = "Websocket Close ...";

      console.log("Websocket Close ...");
    }
  }
};
</script>
  <style lang='less'>
</style>
